@tailwind base;
@tailwind components;
@tailwind utilities;


html { 
  background: url('/bookshelf.jpeg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.dropdown-content.open {
  display: block;
}

#landingImage {
  height: 500px;
  z-index: 0;
}
